.square {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: #c92020;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  animation: move2 3s linear alternate infinite; }

@keyframes move {
  0% {
    top: 20px;
    left: 20px; }
  100% {
    top: 300px;
    left: 500px; } }

@keyframes move2 {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(500px, 300px, 0); } }

